<div>
  <h1 class="font-bold text-4xl mb-5">Welcome!</h1>
  <hr class="mb-10">
  <p>Hello visitor! My name is Aurélio and I am a Software Engineer with more than 5 years of experience of building fullstack applications, mainly using Ruby on Rails.</p>
  <p>I've built this application as an exercise to showcase my skills building fullstack applications.</p>
  <p>It uses Ruby on Rails 7 with Hotwire/Stimulus/Turbo and is in part a reproduction of the demo presented by DHH on his Youtube channel, but I've built upon it adding Tailwind CSS, a more refined layout and deployed to a different cloud provider.</p>
  <p>You can acces the example clicking in the link above "Blog Example", or simply clicking <%= link_to 'here', posts_path, class: 'hover:underline' %>.</p>
  <p>Down below you can also find my LinkedIn and Github profles.</p>
  <div class="mt-10">
    <strong>Thanks for your visit!</strong>
  </div>
</div>
